---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h2 class="banner-heading">All the handy stuff I've picked up while learning Spanish</h2>

<h1>Vocab</h1>

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

